<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Frontend Applicant Test</title>
    <link rel="stylesheet" href="dist/app.css" />

    <script src="bower_components/angular/angular.js"></script>
  </head>
  <body ng-app="frontend_test">

    <div ng-controller="MainController">
      <h1>{{title}}</h1>
    </div>

    <div ng-app="countries-list">
      <countries></countries>
    </div>

    <script src="dist/app.module.js"></script>
    <script src="dist/controller.js"></script>
    <script src="dist/countries/countries-list.module.js"></script>
    <script src="dist/countries/countries-list.component.js"></script>
  </body>
</html>
